<h1><strong>Planetary Systems</strong></h1>

<% @planetary_systems_most_recent.each do |system| %>
  <ul>
    <li><strong><%= system.name %></strong> Created at: <%= system.created_at %></li>
  </ul>
<% end %>